body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--c-bg-body);
  color: var(--c-text-primary);
}

.menu{
  width: 90%;
  max-width: 320px;
  background-color: var(--c-bg-body);
  transition: background-color 0.15s ease;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 0 -4px 16px rgba(0, 0, 0, 0.1);

}

.menu-header {
  padding: 1rem;
}

.menu-header-title{
  font-size: 0.875rem;
  color: var(--c-text-secondary);
  margin-bottom: 0.375rem;
  font-weight: 500;
}

.theme-switcher{
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  display: flex;
  padding: 0 3px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.theme-switcher .slider {
  display: block;
  position: absolute;
  z-index: 1;
  width: calc((100%-6px) /3);
  top: 3px;
  transform: translatex(-110%);
  bottom: 3px;
  border-radius: 6px;
  transition: 0.15s ease, transform 0.25s ease-out;
  background-color: var(--c-bg-button);
  box-shadow: var(--slider-shadow);
}
.theme-switcher input {
  display: none;
}

.theme-switcher input:nth-of-type(1):checked ~ .slider{
  transform: translate(0);
}

.theme-switcher input:nth-of-type(2):checked ~ .slider{
  transform: translate(100%);
}

.theme-switcher input:nth-of-type(3):checked ~ .slider{
  transform: translate(200%);
}

.theme-switcher label{
  position: relative;
  z-index: 2;
  width: calc(100% / 3);
  color: var(--c-text-secondary);
}

.theme-switcher label span{
  padding: 8px 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

h1,
h2,
h3 {
  color: #222222;
}

.container {
  padding: 40px;
  padding-right: 0;
}

.title {
  color: #222222;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}

.gallery .card {
  transition: 0.1s linear;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.gallery .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 14px;
  color: #777777;
}

.detail__img {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detail__name {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.detail__container {
  margin-top: 40px;
}

