{% extends 'base.html' %}
{% block content %}
<section class="about">
    <div class="container">
      <h1>About SnapShoot</h1>
      <p>Welcome to SnapShoot, the leading platform for unique accommodations and unforgettable experiences around the world. We strive to provide a seamless and enjoyable travel experience for both guests and hosts.</p>
      <p>Whether you're looking for a cozy apartment, a luxury villa, or a quirky treehouse, our vast collection of listings has something for everyone. Explore local culture, connect with friendly hosts, and create lasting memories.</p>
      <p>At SnapShoot, we value diversity, inclusivity, and community. We believe in the power of travel to bring people together, foster understanding, and create extraordinary experiences. Join our global community and start your next adventure with us!</p>
    </div>
  </section>
{% endblock %}