{% extends 'base.html' %}

{% block content %}
    <h1>My Bookings</h1>
    <div class="booking-container">
        {% if bookings %}
            {% for booking in bookings %}
                <div class="booking-card" id="booking-card-{{ booking.id }}">
                    <a href="{% url 'booking_detail' pk=booking.pk %}">
                        <p class="booking-info">Booking ID: {{ booking.id }}</p>
                        <p class="booking-info">Listing: {{ booking.listing.name }}</p>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
    </div>
{% endblock %}

