{% extends 'base.html' %}
{% block content %}

   
    <div class="hero">
      <h1>Find a place to film your production.</h1>
      <p>Rent unique accommodations from locals around the Las Vegas Valley</p>
      <a href="/listings" class="btn">Explore Now</a>
    </div>
  </header>
  
  <section class="features">
    <h2>Why Choose SnapShoot?</h2>
    <div class="feature">
      <img src="https://www.usatoday.com/gcdn/presto/2023/07/04/USAT/2e9b2d21-ca3e-4fd7-92d0-6db47622f07b-vegasbug.png?width=660&height=371&fit=crop&format=pjpg&auto=webp" alt="Feature 1">
      <h3>Unique Stays</h3>
      <p>Explore unique and one-of-a-kind places to film.</p>
    </div>
    <div class="feature">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYLNolf2ttZhinFZEM_5xN8KOio1OEjZVzdw&usqp=CAU" alt="Feature 2">
      <h3>Experiences</h3>
      <p>Discover local experiences with knowledgeable hosts.</p>
    </div>
    <div class="feature">
      <img src="https://www.usatoday.com/gcdn/presto/2022/04/13/USAT/4bcd051f-b761-44a4-b494-5e6418c4f3d1-draisbeachcluboutside.jpg?width=1200&disable=upscale&format=pjpg&auto=webp" alt="Feature 3">
      <h3>Book with Confidence</h3>
      <p>Book with peace of mind and get your work done in beautiful places.</p>
    </div>
  </section>
  
  <footer>
   <h1>Thank you for visiting!</h1>
  </footer>
</body>
</html>

{% endblock %}