{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{listing.img}}" alt="{{listing.name}}" />
</div>
<div class="detail__name">
    {% if listing.verified_listing %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{listing.description}}</p>
    </div>
</div>
    <div class="detail__container">
        <div class="buttons">
            <div class="buttons">
        
        <a href="{% url 'listing_update' listing.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
    <a href="{% url 'listing_delete' listing.pk %}" class="button is-danger">Delete   
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    <form method="POST" action="{% url 'booking_create' %}">
        {% csrf_token %}
        <h2>{{ listing.name }}</h2>
        <p>{{ listing.description }}</p>
        <label for="start_datetime">Start Date and Time:</label>
        <input type="datetime-local" id="start_datetime" name="start_datetime">
      
        <label for="end_datetime">End Date and Time:</label>
        <input type="datetime-local" id="end_datetime" name="end_datetime">
        <button type="submit">Book Now</button>
      </form>
      
{% endblock %}