{% extends 'base.html' %} 
{% block content %}
<div class="card">
  <div class="card__img">
    <img src="{{listing.img}}" alt="{{listing.name}}" />
  </div>
  <div class="card__content">
    <h2 class="card__title">{{listing.name}}</h2>
    <p class="card__description">{{listing.description}}</p>
    <p class="card__price">{{listing.price}}</p>
    {% if listing.verified_listing %}
    <div class="card__verified">
      <span class="icon has-text-info">
        <i class="fas fa-check-circle"></i>
      </span>
      <span>Verified</span>
    </div>
    {% endif %}
    <div class="card__buttons">
      <a href="{% url 'listing_update' listing.pk %}" class="card__button is-info"> 
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
      <a href="{% url 'listing_delete' listing.pk %}" class="card__button is-danger">
        <span class="icon">
          <i class="fas fa-trash-alt"></i>
        </span>
      </a>
      <a href="{% url 'booking_create' listing.pk %}" class="card__button is-info">Book Now
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      </a>
    </div>
  </div>
</div>
{% endblock %}
