{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{listing.img}}" alt="{{listing.name}}" />
</div>
<div class="detail__name">
    {% if listing.verified_listing %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
</div>
<div class="detail__container">
    <div class="buttons">
        <div class="buttons">
            
            <a href="{% url 'listing_update' listing.pk %}" class="button is-info"> 
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'listing_delete' listing.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
            
            <div class="detail__about">
                <h4 class="title is-4">About</h4>
            </div>
            
            <p class="description">{{listing.description}}</p>
            <p class="price">{{listing.price}}</p>
            {% endblock %}