{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Listing{% endblock  %}

{% block content %}
<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    {% if user.is_authenticated %}
<a class="button is-dark" href="{% url 'listing_create' %}">Add Listing</a>
{% endif %}
<div class="gallery">
  {% for listing in listings %}
  <a href="{% url 'listing_detail' listing.pk %}">
    <div class="card">
      <div class="card-img">
        <figure class="image is-square">
          <img src="{{listing.img}}" alt="{{listing.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{listing.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Listings Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}